[submodule "dotdrop"]
	path = dotdrop
	url = https://github.com/deadc0de6/dotdrop.git
[submodule "dotfiles/config/tmux/plugins/tpm"]
	path = dotfiles/config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
