[submodule "dotdrop"]
	path = dotdrop
	url = https://github.com/deadc0de6/dotdrop.git
[submodule "/home/clujason/dotfiles/dotfiles/config/tmux/plugins/tpm"]
	path = /home/clujason/dotfiles/dotfiles/config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
